<p id="notice"><%= notice %></p>
<%= render 'file_form', item: @item, categories: @categories, action_url: modify_item_path%>
</br>
<%= link_to 'Delete', delete_item_path(@item), :class=>"btn btn-danger"%>
